@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter_18pt-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

:root {
    --background: #0b0a0a;
    --text: #f0e6d3;
    --card: #181616;
    --secondary-text: #c8bfb2;
    --border: rgba(212, 163, 115, 0.15);
    --navbar-height: 80px;
    --title: #fff2f2;
}

[data-theme="light"] {
    --background: #faeedc;
    --text: #241f1b;
    --card: #fdf2e1;
    --secondary-text: #494949;
    --border: rgba(214, 170, 127, 0.897);
    --title: #fff2f2;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

@media (max-width: 480px) {
  :root {
    --navbar-height: 65px;
  }
}