.container {
    min-height: 100vh;
    padding: 80px 20px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.card {
    width: auto;
    padding: 50px 40px;
    background-color: var(--background);
    border: 0.09rem solid var(--border);
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    text-align: center;
    box-sizing: border-box;
}

.title {
    margin: 0;
    font-size: 3rem;
    color: var(--text);
}

.subtitle {
    font-size: 1.5rem;
    color: var(--secondary-text);
}

.message {
    margin: 0;
    color: #8d8d8d;
    font-size: 1rem;
}

.button {
    margin-top: 2rem;
}

.backButton {
    display: inline-block;
    padding: 13px 28px;
    border: 0.09rem solid #f3c888;
    background-color: #e4b979;
    text-decoration: none;
    color: var(--background);
    border-radius: 0.6rem;
    font-weight: 600;
    transition: 0.2s ease;
}

.backButton:hover {
    background-color: transparent;
    color: var(--text);
    transform: translateY(-1.5px);
}


@media (max-width: 700px) {
  .container {
    padding: 40px 15px;
  }

  .card {
    padding: 40px 25px;
  }

  .title {
    font-size: 2.7rem;
  }

  .subtitle {
    font-size: 1.4rem;
  }

  .message {
    font-size: 0.95rem;
  }
}



@media (max-width: 500px) {
  .container {
    padding: 30px 10px;
  }

  .card {
    padding: 30px 20px;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }

  .message {
    font-size: 0.9rem;
  }

  .backButton {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
}